# System files
*.log
.DS_Store
Thumbs.db

# Environment files (do not upload)
.env
.env.backup
.env.production

# IDE / Editor files
/.idea
/.vscode
/.phpactor.json
/.zed

# Laravel / Framework
/public/build
/public/hot
/storage/*.key
/storage/pail
Homestead.json
Homestead.yaml

# Node / NPM
/node_modules

# Composer dependencies
/vendor

# PHPUnit / Test cache
.phpunit.result.cache
/.phpunit.cache

# Other
/auth.json
/.fleet
/.nova
